# Startup's Profit Prediction

<b>Imports</b>

In [18]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import r2_score, mean_squared_error

<b>Data Analysis</b>

In [2]:
df = pd.read_csv('/Users/juveriashaik/Desktop/DATA ANALYTICS/50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
print(df.shape)
print(df.isnull().sum())

(50, 5)
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [7]:
le = LabelEncoder()
df['State'] = le.fit_transform(df['State'])
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [8]:
df['State'].unique()

array([2, 0, 1])

0 = California , 1 = Florida , 2 = New York

<b>Model Traing</b>

In [9]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 7)
print(X_train.shape)
print(X_test.shape)

(40, 4)
(10, 4)

In [10]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [11]:
print(lr.coef_)
print(lr.intercept_)

[ 8.12209301e-01 -3.04366458e-02  2.66523377e-02  1.30819089e+03]
48619.03106621387

In [12]:
y_pred = lr.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_squared_error(y_test,y_pred, squared = False))

0.9100222191569779
9519.850578078294

<b>Regularization </b>

In [20]:
reg = Ridge(alpha=0.0005)

reg.fit(X_train,y_train)
pred = reg.predict(X_test)
score = reg.score(X_test,y_test)
score

0.9100224338098318

<b>Model Evaluation</b>

In [19]:
lreg = Lasso(alpha = 0.3)
lreg.fit(X_train,y_train)
pred = lreg.predict(X_test)
score = lreg.score(X_test,y_test)

score

0.910026157113237